<div class="card-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-pitch">
        Slot Id: <span id="spSlotId">{{ slotId }}</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="section-pitch">
        Availabilities: <span id="spAvailabilities">{{ availabilities }}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="section-pitch">
        Start Date:
        <span id="spStartDate">{{ startDate | dateFormatPipe }}</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="section-pitch">
        Duration:
        <span id="spDuration">{{ startDate | durationPipe: endDate }}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="section-pitch">
        Price: <span id="spPrice">{{ price | currency: currency }}</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="section-pitch">
        Converted Price:
        <span id="spConvertedPrice">{{
          price | currencyConverterPipe: exchangeRate | currency: "EUR"
        }}</span>
      </div>
    </div>
  </div>
</div>
