<div class="container filter-wraper">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="filterForm" class="form-inline" autocomplete="off">
        <div class="form-group">
          <label for="pitchId">Pitch Id</label>
          <input
            type="text"
            class="form-control default-size"
            id="pitchId"
            placeholder="Pitch Id"
            formControlName="PitchId"
          />*
        </div>
        <div class="form-group">
          <label for="startsId">Starts</label>
          <input
            type="text"
            class="form-control default-size"
            id="startsId"
            name="startsId"
            placeholder="YYYY-MM-DD"
            #startDateRef
            (blur)="copyData('StartsId')"
          />*
          <input type="hidden" value="" formControlName="StartsId" />
        </div>

        <div class="form-group">
          <label for="endsId">Ends</label>
          <input
            type="text"
            class="form-control default-size"
            id="endsId"
            name="endsId"
            placeholder="YYYY-MM-DD"
            #endDateRef
            (blur)="copyData('EndsId')"
          />*
          <input type="hidden" value="" formControlName="EndsId" />
        </div>

        <button
          id="btnSearch"
          type="button"
          class="btn btn-primary"
          (click)="filterData()"
        >
          Search
        </button>
      </form>
    </div>
    <div class="col-sm-12">
      <span id="spErrorMessage" class="error-message">{{ errorMessage }}</span>
    </div>
  </div>
</div>
